net20/MMSClient/Client/pswincom_submit_response.dtd

<!-- PSWinCom DTD SMS Submit Response-->
<!ELEMENT ID (#PCDATA)>
<!ELEMENT REF (#PCDATA)>
<!ELEMENT LOGON (#PCDATA)>
<!ELEMENT REASON (#PCDATA)>
<!ELEMENT STATUS (#PCDATA)>
<!ELEMENT INFO (#PCDATA)>
<!ELEMENT RESULT (#PCDATA)>
<!ELEMENT MSG (ID, REF?, STATUS, INFO)>
<!ELEMENT MSGLST (MSG+)>
<!ELEMENT QRY (RESULT)>
<!ELEMENT QRYLST (QRY+)>
<!ELEMENT SESSION (LOGON, REASON, MSGLST?, QRYLST?)>
